*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  --bg:#0f172a;
  --card:#020617;
  --text:#e5e7eb;
  --accent:#38bdf8;
  background:var(--bg);
  color:var(--text);
  transition:.3s;
}

body.light{
  --bg:#f8fafc;
  --card:#ffffff;
  --text:#020617;
  --accent:#0284c7;
}

header{
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:var(--card);
  position:sticky;
  top:0;
  z-index:100;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:var(--text);
}

#h1{
  font-size: 35px;
}

nav a.active, nav a:hover{color:var(--accent)}

.toggle{
  cursor:pointer;
  padding:8px 14px;
  border-radius:20px;
  background:var(--accent);
  color:#020617;
}

section{
  padding:80px 8%;
}

.hero{
  min-height:90vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
}

.hero-img img {
  width: 450px;
  aspect-ratio: 1 / 1;      
  border-radius: 50%;
  border: 5px solid var(--accent);
  box-shadow: 0 0 20px var(--accent);
  object-fit: cover;       
}

@media (max-width: 480px) {
  .hero-img img {
    width: 280px;            
  }
}


.btn{
  display:inline-block;
  margin-top:15px;
  padding:12px 28px;
  background:var(--accent);
  color:#020617;
  border-radius:30px;
  font-weight:600;
}

.about{
  max-width:900px;
  margin:auto;
  text-align:center;
}

.skills {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.section-title{
  font-size:38px;
  margin-bottom:50px;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  gap: 40px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(3, 180px);
  }
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, 160px);
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: repeat(1, 160px);
  }
}

.skill-box{
  width: 180px;             
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  transition: 0.4s ease;
  border: 1px solid rgba(255,255,255,0.1);
}

.skill-box img{
  width: 100px;
}

.skill-box {
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 480px) {
  .section-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skill-box {
    width: 100%;
    padding: 20px 15px;
  }

  .skill-box img {
    width: 50px;
  }

  .skill-box p {
    font-size: 16px;
  }
}

.skill-box.html:hover{box-shadow:0 0 25px #e34c26}
.skill-box.css:hover{box-shadow:0 0 25px #264de4}
.skill-box.js:hover{box-shadow:0 0 25px #f7df1e}
.skill-box.react:hover{box-shadow:0 0 25px #61dafb}
.skill-box.bootstrap:hover{box-shadow:0 0 25px #7952b3}
.skill-box.github:hover{box-shadow:0 0 25px #ffffff}
.skill-box.c:hover{box-shadow:0 0 25px #5e97d0}
.skill-box.cpp:hover{box-shadow: 0 0 25px #00599c}
.skill-box.java:hover{box-shadow:0 0 25px #e76f00}
.skill-box.sql:hover{box-shadow:0 0 25px #f29111}

.projects{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}

.project{
  background:var(--card);
  padding:25px;
  border-radius:16px;
}

#projects h2{
  padding: 20px;
  text-align: center;
}

.project a{
  margin-right:12px;
  color:var(--accent);
}

#contact{
  padding: 20px;
  text-align: center;
}

form{
  max-width:600px;
  margin:auto;
  display:grid;
  gap:15px;
}

button{
  background:var(--accent);
  color: #fff;
  margin-bottom: 20px;
  height: 40px;
  border: none;
  border-radius: 10px;
  width: 100%;
}


input,textarea{
  padding:12px;
  border-radius:8px;
  border:1px solid #94a3b8;
}

footer{
  text-align:center;
  padding:25px;
  background:var(--card);
}


.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.reveal.active{
  opacity:1;
  transform:translateY(0);
}


@media(max-width:768px){
  .hero{flex-direction:column;text-align:center}
}
